@font-face{
	font-family: 'Bazar';
	src: local('Bazar'),
		url(../font/Bazar.ttf)
		format('opentype');
}
@font-face{
	font-family: 'AnisaSans';
	src: local('AnisaSans'),
		url(../font/AnisaSans.ttf)
		format('opentype');
}

#Principal{
	width: 1200px;
	height: 1200px;
	margin: auto;
}

.imgUNAD{
	width: 315px;
	float: left;
}

.imgPweb{
	width: 600px;
}

header {
	background: url('../images/Header_franja.png') repeat-x scroll 0 white;
	width: 1200px;
	height: 100px;
	float: left;
}

h1{
	font-family: 'Bazar';
	text-align: center;
}

.vertical-menu {
    width: 250px;
	float: left;
	margin: 0 20px 20px 0px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

section{
	float: left;
	width: 500px;
	padding-left: 20px;
	margin: 0 20px 20px 0px;
	border-left: 2px dotted #b2a497;
	font-family: 'AnisaSans';
}

aside{
    float: left;
}

footer{
	clear:both !important;
	width:100%;
	height: 100px;
	padding: 10px;
	background: #eee; 
    background: -webkit-linear-gradient(left top, #eee, #4CAF50); 
    background: -o-linear-gradient(bottom right, #eee, #4CAF50); 
    background: -moz-linear-gradient(bottom right, #eee, #4CAF50); 
    background: linear-gradient(to bottom right, #eee, #4CAF50); 
}
footer .parrafo{
	font-family: 'Bazar';
}