@font-face{
	font-family: 'Bazar';
	src: local('Bazar'),
		url(../font/Bazar.ttf)
		format('opentype');
}

#Principal{
	width: 1200px;
	height: 1200px;
	margin: auto;
}

.imgUNAD{
	width: 315px;
	float: left;
}

header {
	width: 1200px;
	height: 100px;
	float: left;
}

h1{
	font-family: 'Bazar';
	text-align: center;
}

.vertical-menu {
    width: 200px;
	float: left;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

section{
	float: left;
	width: 500px;
	padding-left: 20px;
	margin: 0 20px 20px 0px;
	border-left: 2px dotted #b2a497;
}

aside{
    float: left;
}

footer{
	clear:both !important;
	width:940px;
	height: 100px;
	padding: 10px;
	color:#200f08 ;
}